.dark .content__default code {
    background-color: rgba(58,58,92,0.7);
    color: #fff;
}

.page .page-title {
   display: none;
}

.page .theme-reco-content h2 {
    position: relative;
    padding-left: 0.8rem;

    &:before{
        position: absolute;
        left: 0;
        top: 3.5rem;
        display: block;
        height: 1.8rem;
        content: "";
        border-left: 5px solid #2e317c;
    }
}

.theme-container .navbar .dropdown-wrapper .nav-dropdown .dropdown-item {
    color: #aaa
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.25;
}

h1 {
    font-size: 2.2rem
}

h2 {
    font-size: 1.65rem;
    padding-bottom: .3rem;
    // border-bottom: 1px solid #eaecef
}

h3 {
    font-size: 1.35rem;
}



ol,p,ul {
    line-height: 1.7;
}

hr {
    border: 0;
    border-top: 1px solid #eaecef
}

table {
    border-collapse: collapse;
    margin: 1rem 0;
    display: block;
    overflow-x: auto
}

tr {
    border-top: 1px solid #dfe2e5
}

tr:nth-child(2n) {
    background-color: #f6f8fa
}

td,th {
    border: 1px solid #dfe2e5;
    padding: .6em 1em
}